//main
$bodyColor: #fffcf7;

$primary: #0e7673;
$primary100: #ccf8e7;
$primary200: #9cf1d8;
$primary300: #64d5be;
$primary400: #3aac9f;

$secondary: #ffd023;
$secondary100: #fffae9;
$secondary200: #fff6d3;
$secondary300: #ffeca7;
$secondary400: #ffde65;

$error: #fd6a6a;
$error100: #fd8181;
$error200: #fd4f4f;

//additional color
$white: #ffffff;
$dark: #111827;
$purple: #8c62ff;
$blue: #0f62f9;
$orange: #fe964a;

//grey_scale
$greyD: #718096;
$grey100: #f5f6fb;
$grey200: #f1f2f4;
$grey300: #cbd5e0;
$grey500: #a0aec0;

//container padding
$cp: 16px;
$cp2: 12px;
$maxWdt: 768px;
$sideBarWidth: 70px;
$stickyTop: 50px;

// New Changes
$blue: #0f62f9;
