@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixin";
@import "./variables";
@import "./presets";

// * {
//     box-sizing: border-box;
// }

body {
    scroll-behavior: smooth;
    background-color: $bodyColor;
    background: url("/image/bg-img/pattern/pattern1.avif") center/contain fixed repeat;
    position: relative;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: -1;
        background: $bodyColor;
        background: linear-gradient(
            90deg,
            rgba($bodyColor, 0.8) 0%,
            rgba($bodyColor, 0.801) 5%,
            rgba($bodyColor, 0.8) 100%
        );
    }
}

.bg_section_blog {
    border-radius: 6px;
    overflow: hidden;
    background: url("/image/bg-img/blog-pattern.jpeg") center/cover no-repeat;
    position: relative;
    z-index: 3;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgb(253, 255, 207);
        background: linear-gradient(
            90deg,
            rgba(250, 251, 195, 0.8) 0%,
            rgba(255, 251, 230, 0.801) 5%,
            rgba(240, 255, 206, 0.8) 100%
        );
    }
}
